@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 1;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2');
    font-weight: 1;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}




body {
    overflow-x: hidden;
    
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: linear-gradient(217deg,#110A1D,#110A1D 70.71%),
    linear-gradient(127deg, rgb(25, 27, 30), rgba(40, 39, 44, 1) 70.71%),
    linear-gradient(336deg, rgb(17, 17, 24), rgba(51, 51, 77, 1) 70.71%);
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: inherit;


}

.container {
    max-width: 95vw;
    /* overflow-x: hidden;*/
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
}

.logo {
    background-image: url(../img/logo.png);
    height: 60px;
    width: 170px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: 0.5s ease-in-out;
    margin: 0;
    padding: 0;
}

.logo-slogan {

    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 19px;
    line-height: 16px;
    background: linear-gradient(180deg, #0ABE9E 0%, #186ED3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

a {
    all: unset;

}

.header {
    border-radius: 10px;
    border: 4px solid #0ABFA6;
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    align-items: center;
    padding: 10px;
    position: sticky;
    
    top: 0;
    z-index: 999;
    background-color: #110A1D;

}

.logo-header {
    display: flex;
}



.header-nav-link {
    display: block;
    padding: 20px 8px;

}

a:hover,
button:hover {
    cursor: pointer;
}

.header-nav-link:hover {


    text-shadow: 2px 2px 15px #0ABFA6;
}

.header-nav-link:hover:after {
    width: 100%;
    left: 0;
}

.header-nav-link:after {

    display: block;
    position: relative;
    left: 45%;
    width: 0px;
    top: 5px;
    line-height: 3px;
    height: 2px;
    background-color: #0ABFA6;
    content: "";
    transition: 0.5s ease-in-out;

}

.link-list {}

.language,
.registration {
    display: flex;
    align-items: center;

    border: 2px solid #0ABFA6;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    padding: 9px;
}


@media screen and (min-width: 680px) {
    .bg-desctop-spot {
        width: 55%;
    }

    .bg-desctop-spot {
        z-index: -1;
        pointer-events: none;
        position: absolute;
        left: -10%;
        top: -13%;
        width: 100%;
        flex-shrink: 0;
    }

}

option {

    background-color: #110A1D;
}

.login {
    border: 2px solid #0ABFA6;
    background-color: #0ABFA6;

    border-radius: 10px;
    padding: 9px;
}

.logo-header:hover .logo {
    filter: drop-shadow(3px 3px 10px #cacfb2);

}

.button-bord {
    border-radius: 48px;
    background: #478BF9;

    display: block;



    font-size: 25px;
    font-weight: 500;



    /* Btn. - CTA Big */

    /* Auto layout */

    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;


    width: 40%;


    /* Main/Blue #478BF9 */





}




.button-bord::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  
  .button-bord:after, .button-bord:after { 
    animation: sheen 2s forwards;
    animation-iteration-count:infinite;
     animation-fill-mode: forwards; 
  }
  
  @keyframes sheen {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
    }
  }
  .button-bord{
    
   
    
    position: relative;
    overflow: hidden;
    
  }
  



















.bord-title {
    color: #0ABFA6;
    font-size: 55px;
    font-weight: 800;
}

.bord-title:first-line {
    color: #FFF;

}

.bord-text {
    /* Играй, выигрывай, храни - крипто розыгрыши с нами! */


    font-style: normal;
    font-weight: 300;


    /* or 100% */
    /* Transp. White/White 60% */
    color: rgba(255, 255, 255, 0.6);


    align-self: stretch;


}































.zoom-large {
    font-size: 7px;
    position: absolute;
    bottom: 50px;
   right:  40vw;
    max-width: 20vw;
    z-index: -1;
    


}

#universe {
    z-index: 1;
    position: absolute;

    width: 400px;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#galaxy {
    position: absolute;
    width: 50%;
    height: 50%;
    /*perspective: 4000;*/
}

#solar-system {
    position: absolute;
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform-style: preserve-3d;
    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.orbit .orbit {
    animation-name: suborbit;
}

.pos {
    position: absolute;
    top: 50%;
    width: 2em;
    height: 2em;
    margin-top: -1em;
    margin-left: -1em;
    transform-style: preserve-3d;
    animation-name: invert;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sun,
.planet,
#earth {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;

    transform-style: preserve-3d;
}

#sun {

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 0;
}

.planet {

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}



/* --------------------------------------------------------------------------- planets index */
#mercury {
    z-index: 10;
}

#venus {
    z-index: 90;
}

#earth {
    z-index: 80;
}



#mars {
    z-index: 60;
}

#jupiter {
    z-index: 50;
}

#saturn {
    z-index: 40;
}

#uranus {
    z-index: 30;
}

#neptune {
    z-index: 20;
}

#sun {
    z-index: 10;
}

/* --------------------------------------------------------------------------- animations */
@keyframes orbit {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-360deg);
    }
}




@keyframes suborbit {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateZ(-360deg);
    }
}

@keyframes invert {
    0% {
        transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    }
}

/* --------------------------------------------------------------------------- opening */
.view-3D .opening #sun,
.view-3D .opening .orbit,
.view-3D .opening .pos,
.view-3D .opening .planet,
.view-3D .opening .satelite,
.view-3D .opening .ring {
    transition-duration: 4s;
}

#universe.opening #sun {
    box-shadow: 0 0 0 rgba(255, 160, 60, 0);
}



/* --------------------------------------------------------------------------- 3D view */
.view-3D.zoom-large #sun {
    transform-style: preserve-3d;
}

.view-3D.zoom-large .orbit {
    transform-style: preserve-3d;
}

.view-3D #solar-system {
    transform: rotateX(75deg);
}

.view-3D #sun {
    transform: rotateX(-90deg);
}

.view-3D .ring {
    transform: rotateX(90deg);
}

.view-3D .planet,
.view-3D .moon {
    transform: rotateX(0deg);
}

/* --------------------------------------------------------------------------- large zoom */
.zoom-large #solar-system {
    width: 100%;
}

.zoom-large.view-2D .scale-stretched #solar-system {
    font-size: 26%;
}

.zoom-large.view-3D .scale-stretched #solar-system {
    font-size: 62%;
}

.zoom-large.view-2D .scale-d #solar-system {
    font-size: 22%;
}

.zoom-large.view-3D .scale-d #solar-system {
    font-size: 48%;
}

.zoom-large.view-2D .scale-s #solar-system {
    font-size: 7%;
}

.zoom-large.view-3D .scale-s #solar-system {
    font-size: 14%;
}

/* --------------------------------------------------------------------------- close zoom */


.zoom-close.view-3D .scale-d #solar-system {
    font-size: 84%;
}


.zoom-close.view-2D .scale-s #solar-system {
    font-size: 40%;
}

.zoom-close.view-3D .scale-s #solar-system {
    font-size: 40%;
}

.zoom-close .orbit,
.zoom-close .pos,
.zoom-close .planet,
.zoom-close .satelite,
.zoom-close .ring {
    animation-play-state: paused !important;
    animation-duration: 0s !important;
    animation: none !important;
}

.zoom-close.view-2D .planet,
.zoom-close.view-2D .moon {
    transform: rotateX(0deg);
}

.zoom-close.view-3D .planet {
    transform: rotateX(-90deg);
}

.zoom-close.view-3D .moon {
    transform: rotateX(90deg);
}

.zoom-close .pos {
    left: 100% !important;
    top: 50% !important;
}

/* --------------------------------------------------------------------------- data */
/* --------------------------------------------------------------------------- speed */
/* sideral years */
#mercury .pos,
#mercury .planet,
#mercury.orbit {
    animation-duration: 12s;
}

#venus .pos,
#venus .planet,
#venus.orbit {
    animation-duration: 12s;
}

#earth .pos,
#earth .planet,
#earth.orbit {
    animation-duration: 12s;
}

#earth .orbit .pos,
#earth .orbit {
    animation-duration: 12s;
}

#mars .pos,
#mars .planet,
#mars.orbit {
    animation-duration: 12s;
}

#jupiter .pos,
#jupiter .planet,
#jupiter.orbit {
    animation-duration: 12s;
}

#saturn .pos,
#saturn .planet,
#saturn.orbit,
#saturn .ring {
    animation-duration: 12s;
}

#uranus .pos,
#uranus .planet,
#uranus.orbit {
    animation-duration: 18s;
}

#neptune .pos,
#neptune .planet,
#neptune.orbit {
    animation-duration: 12s;
}

/* --------------------------------------------------------------------------- planets sizes */
/* --------------------------------------------------------------------------- stretched sizes */

/* --------------------------------------------------------------------------- scaled sizes */
/*
  (planets radius * 2) * ratio
  */
/*$distanceScaleRatio:   0.000075em;*/
/* --------------------------------------------------------------------------- planets distance scale sizes */

/* --------------------------------------------------------------------------- planet size scale sizes */
.scale-s #sun {
    font-size: 300em;
}

.scale-s #mercury .planet {
    font-size: 170em;
}

.scale-s #venus .planet {
    font-size: 190em;
}

.scale-s #earth .planet {
    font-size: 190em;
}



.scale-s #mars .planet {
    font-size: 170em;
}

.scale-s #jupiter .planet {
    font-size: 210em;
}

.scale-s #saturn .planet {
    font-size: 190em;
}

.scale-s #uranus .planet {
    font-size: 240em;
}

.scale-s #neptune .planet {
    font-size: 180em;
}

/* --------------------------------------------------------------------------- stretched orbits */


/* --------------------------------------------------------------------------- scaled orbits */
/* --------------------------------------------------------------------------- distance scale orbits */


/* --------------------------------------------------------------------------- size scale orbits */
.scale-s #mercury.orbit {
    width: 441.3048em;
    height: 441.3048em;
    margin-top: -220.6524em;
    margin-left: -220.6524em;
}

.scale-s #venus.orbit {
    width: 457.3048em;
    height: 457.3048em;
    margin-top: -228.6524em;
    margin-left: -228.6524em;
}

.scale-s #earth.orbit {
    width: 473.3048em;
    height: 473.3048em;
    margin-top: -236.6524em;
    margin-left: -236.6524em;
}

.scale-s #mars.orbit {
    width: 489.3048em;
    height: 489.3048em;
    margin-top: -244.6524em;
    margin-left: -244.6524em;
}

.scale-s #jupiter.orbit {
    width: 561.3048em;
    height: 561.3048em;
    margin-top: -280.6524em;
    margin-left: -280.6524em;
}

.scale-s #saturn.orbit {
    width: 705.3048em;
    height: 705.3048em;
    margin-top: -352.6524em;
    margin-left: -352.6524em;
}

.scale-s #uranus.orbit {
    width: 817.3048em;
    height: 817.3048em;
    margin-top: -408.6524em;
    margin-left: -408.6524em;
}

.scale-s #neptune.orbit {
    width: 881.3048em;
    height: 881.3048em;
    margin-top: -440.6524em;
    margin-left: -440.6524em;
}

/* Moon */
.scale-s #earth .orbit {
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

/* --------------------------------------------------------------------------- text infos data */
/* --------------------------------------------------------------------------- speed */

/* --------------------------------------------------------------------------- planets starting position and lighting effect */
/* --------------------------------------------------------------------------- mercury ; pos: Top */
#mercury .pos {
    left: 50%;
    top: -1%;
}




/* --------------------------------------------------------------------------- venus ; pos: Left */
#venus .pos {
    left: 0;
    top: 50%;
}




/* --------------------------------------------------------------------------- earth ; pos: Right */
#earth .pos {
    left: 100%;
    top: 50%;
}



/* --------------------------------------------------------------------------- moon */
#earth .orbit .pos {
    left: 100%;
    top: 50%;
}

/* --------------------------------------------------------------------------- mars ; pos: Bottom */
#mars .pos {
    left: 50%;
    top: 100%;
}



/* --------------------------------------------------------------------------- jupiter ; pos: Right */
#jupiter .pos {
    left: 100%;
    top: 50%;
}


/* --------------------------------------------------------------------------- saturn ; pos: Left */
#saturn .pos {
    left: 0%;
    top: 50%;
}



#uranus .pos {
    left: 0;
    top: 50%;
}



/* --------------------------------------------------------------------------- neptune ; pos: Top */
#neptune .pos {
    left: 50%;
    top: 0;
}







.sun #sun .infos,
.mercury #mercury .infos,
.venus #venus .infos,
.earth #earth .infos,
.mars #mars .infos,
.jupiter #jupiter .infos,
.saturn #saturn .infos,
.uranus #uranus .infos,
.neptune #neptune .infos {
    display: block;
    opacity: 1;
    transform: rotateX(0deg);
}

.mercury #mercury.orbit,
.venus #venus.orbit,
.earth #earth.orbit,
.mars #mars.orbit,
.jupiter #jupiter.orbit,
.saturn #saturn.orbit,
.uranus #uranus.orbit,
.neptune #neptune.orbit {
    border: 1px solid rgba(255, 255, 255, 0.8);
}





/* --------------------------------------------------------------------------- transitions */
.pos {
    transition-property: top, left;
}

#solar-system,
.orbit,
.planet,
.satelite,
.ring {
    transition-property: width, height, top, left, margin-left, margin-top, webkit-transform;
}

#sun,
.icon {
    transition-property: width, height, webkit-transform;
}

#solar-system,
#sun,
.orbit,
.pos,
.planet,
.satelite,
.ring,
.infos,
.icon {
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
}

#solar-system,
#sun,
.planet,
.satelite,
.ring {
    transition-delay: 0s;
}

.pos {
    transition-delay: 1s;
}

.opening #solar-system,
.opening #sun,
.opening .orbit,
.opening .pos,
.opening .planet,
.opening .satelite,
.opening .ring,
.opening .infos,
.opening h1,
.opening #data,
.opening dl.infos,
.opening #controls {
    transition-duration: 0s;
    transition-delay: 0s;
}

.opening .pos {
    transition-delay: 0s;
}



/* --------------------------------------------------------------------------- images */

#universe {
    filter: drop-shadow(0px 80px 80px #2c77cd);

}

#sun {

    background-image: url(../img/golg-piram.png);




}

#venus .planet {
    background-image: url(../img/bronza.png);
}



#jupiter .planet {
    background-image: url(../img/silver.png);
}

#saturn .planet {
    background-image: url(../img/gold.png);
}

#uranus .planet {
    background-image: url(../img/platina.png);
}

#neptune .planet {
    background-image: url(../img/palladium.png);
}

/* --------------------------------------------------------------------------- responsive styles */
@media screen and (max-width: 299px) {
    #universe {
        font-size: 20%;
    }
}

@media screen and (min-width: 300px) {
    #universe {
        font-size: 24%;
    }
}

@media screen and (min-width: 500px) {
    #universe {
        font-size: 36%;
    }
}

@media screen and (min-width: 600px) {
    #universe {
        font-size: 44%;
    }
}

@media screen and (min-width: 760px) {
    #universe {
        font-size: 58%;
    }
}

@media screen and (min-width: 1000px) {
    #universe {
        font-size: 63%;
    }

}

@media screen and (min-width: 1300px) {
    #universe {
        font-size: 80%;
    }
}

@media screen and (min-width: 1600px) {
    .zoom-close .scale-d #solar-system {
        margin-left: -120%;
    }
}










@keyframes glow {
    0% {


        filter: brightness(1);

    }

    100% {



        filter: brightness(1.3);
    }

}

@keyframes shine {
    0% {
        filter:
            drop-shadow(3px 3px 40px #cacfb2);


    }

    100% {
        filter:
            drop-shadow(0px 0px 0px #cacfb2);

    }

}


#sun {
    animation: glow 1s infinite alternate-reverse;
}

.planet {
    animation: shine 1s infinite alternate-reverse;
}

.hero {
    display: flex;
    margin-bottom: 10px;
    height: 100vh;
}

.bord-block {
    margin-top: 70px;
    
    
}

.reason-header {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    
}

.back-name {
    text-align: center;
    position: absolute;
    font-size: 150px;
    font-weight: 700;

    text-transform: uppercase;
    line-height: 160px;
    transition: 1.6s ease;
    color: rgba(0, 255, 221, 0.15);
    z-index: -1;

}




.row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    padding: 30px;


}

.card-reason {
    /* Rectangle 1 */


    padding: 15px 25px 25px;
    border-left: 3px solid #0ABE9E;
    border-right: 3px solid #186ED3;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-image: linear-gradient(90deg, #0ABE9E 0, #186ED3), linear-gradient(90deg, #0ABE9E 0, #186ED3);

    position: relative;
    transition: .6s ease;

    border-radius: 10px;
    max-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card-reason:hover {
    transform: scale(1.08);
    box-shadow: 0 0 1px #003887, 0 0 2px #660168, 0 0 4px #003887, 0 0 6px #660168, 0 0 8px #003887, 0 0 9px #660168, 0 0 10px #003887, 0 0 12px #660168;
    background-image: linear-gradient(90deg, #fc78ff 0, #99c3ff), linear-gradient(90deg, #fc78ff 0, #99c3ff);
    border-left: 3px solid #fc78ff;
    border-right: 3px solid #99c3ff;
}

.card-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.card-title {

    font-style: normal;
    font-weight: 800;
    font-size: 20px;

    text-align: center;




}

.card-head img {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-right: 15px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform 2s ease-in-out 0ms;

}

.card-text {
    /* Розыгрыш без проигрыша */

    font-style: normal;
    font-weight: 800;
    font-size: 14px;


    text-align: justify;

}

.card-reason:hover .img-round {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
}

.block-why {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.card-reason:hover .img-shine {
    filter: drop-shadow(3px 3px 7px white);
}


.mySlides {
    display: none
}

.img-slider {
    vertical-align: middle;
    height: 700px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    transform: scale(1.3);

}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.drop-daun-menu {
    position: absolute;

    background-color: #110A1D;
    width: 95%;
    z-index: 99;

}

.header-menu-border {
    border: 2px solid #0ABE9E;
    background-color: hsl(262, 49%, 8%);
    max-height: 92px;
    color: white;
}

.mobail-menu-item:not(:last-child) {
    margin-bottom: 5px;
}

.mobail-menu-item {
    padding: 13px 20px;
    border-radius: 10px;
}

.border-button {
    border-radius: 10px;
    border: 2px solid #0ABE9E;
}

.button-sign-in {
    background-color: #478BF9;
    border-radius: 10px;
}


@media screen and (max-width: 1024px) {
    .logo {
        width: 110px;
    }

    .logo-slogan {
        font-size: 14px;
    }

    .header {
        font-size: 14px;
    }

    .bord-title {
        font-size: 40px;
    }

    .button-bord {
        font-size: 20px;
    }

    .back-name {
        font-size: 100px;
    }

    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 14px;
        font-weight: 600;
    }

    .zoom-large {

        font-size: 6px;

    }

}

@media screen and (max-width: 768px) {
    .zoom-large {
        top: 500px;
        left: 0px;
        font-size: 8px;

    }

    .bg-desctop-spot {
        display: none;
    }

    .card-title {
        font-size: 17px;
    }

    .back-name {
        font-size: 50px;
    }

    .card-text {
        font-size: 14px;
    }

    .bord-title {
        font-size: 30px;
    }
    .bord-title{
        
    }
    .reason-header{font-size: 20px;}
}


@media screen and (max-width: 425px) {
    .zoom-large {
        bottom: 0;
        left: 0;
        font-size: 9px;

    }
.hero{
    display: flex;
    justify-content: center;
    
}
    .bord-title {
        font-size: 30px;
    }
.bord-block{display: flex;
    flex-direction: column;
align-items: center;
text-align: center;}
    .bg-desctop-spot {
        display: none;
    }

    .card-title {
        font-size: 17px;
    }

    .back-name {
        display: none;
    }

    .card-text {
        font-size: 14px;
    }
    .button-bord{
        width: 100%;
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {
    .zoom-large {
       display: none;

    }
    .bg-desctop-spot{
        display: flex;
        
            z-index: -1;
            pointer-events: none;
            position: absolute;
            left: -10%;
            top: -90%;
            width: 100%;
            flex-shrink: 0;
    }
    .bord-title {
        font-size: 20px;
    }

   .bord-text{
    font-size: 14px;
   }
   .card-title {
    font-size: 14px;
}
}